<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Page title</title>
</head>
<body>
Добро пожаловать!
<!--<button onclick="reset()">Сброс</button><button onclick="minus()">Минус</button><br><br>-->
<!--<div id="counter">0</div><br>-->
<!--<button onclick="plus()">Плюс 1</button>-->
<script>
/*function reset() {
	document.getElementById('counter').innerText = 0;
}
function plus() {
	var el = document.getElementById('counter');
	var count = parseInt(el.innerText) + 1;
	el.innerText = count;
}
function minus() {
	var el = document.getElementById('counter');
	var count = parseInt(el.innerText) - 1;
	el.innerText = count;
} */
</script>
</body>
</html>